.dashboard-content {
    padding: 24px;
}

.dashboard-content {
    flex: 1;
    padding: 24px;
}

main {
    display: block;
    unicode-bidi: isolate;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
    width: 100%;
}

.dashboard-row {
    margin-bottom: 24px;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}
.dashboard-grid {
    display: grid;
    gap: 20px;
}

.dashboard-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000000f;
    transition: box-shadow .3s ease;
}

.dashboard-card-body {
    padding: 1.25rem;
}

.mb-4 {
    margin-bottom: 1 rem !important;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

dl, ol, ul {
    margin-bottom: 1rem;
    margin-top: 0;
}
ol, ul {
    padding-left: 2rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: var(--bs-nav-tabs-link-hover-border-color);
    isolation: isolate;
}

.nav-link:hover {
    background: #2c3151;
    color: #fff;
}

.nav-link{
    color: #8b92a8;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    color: var(--bs-nav-tabs-link-active-color);
}