.tableHeader {
    letter-spacing: 0.5px;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background: var(--secondary-color);
    color: var(--white-color);
    opacity: 0.9;
    text-wrap: wrap !important;
    word-wrap: break-word !important;
}

.ngx-datatable{
    box-shadow: none !important;
}

.ngx-datatable.material:not(.cell-selection)
   .datatable-body-row:hover
   .datatable-row-group{
     background-color: var(--light-color) !important;
   }

.datatable-body{
    word-wrap: break-word !important;
}

.ngx-datatable .datatable-body .datatable-body-row > div{
    align-items: center;
}

.ngx-datatable.material .datatable-body .datatable-body-row{
    border-bottom: none !important;
}

.avatar-image{
    height: 8vh;
    width: 8vh;
    object-fit: cover;
}

.search-table-input{
    width: 30% !important;
}