body.fixed-header .app-header{
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 999;
}

body.fixed-footer .app-footer{
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    z-index: 999;
}

[data-overlayscrollbars-padding], [data-overlayscrollbars~=host] {
    width: 100% !important;
}