@import url("./theam/less/variable.css");
@import url("./theam/less/layout.css");
@import url("./theam/less/datatable.css");
// @import url("./theam/less/dashboard.css");

html, body{
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-chart{
  width: 100%;
  height: 50vh;
  overflow-x: auto;
}
