<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="light">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand ">
        <!--begin::Brand Link-->
        <a class='brand-link'>
            <!--begin::Brand Image-->
            <img src="assets/img/images.jpg" alt="AdminLTE Logo" class="brand-image opacity-75 shadow rounded-5" />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light text-white">{{userRole()}}-USER</span>
            <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper" data-overlayscrollbars="host">
        <div data-overlayscrollbars-viewport="scrollbarHidden overflowXHidden overflowYScroll" overlay-scrollbars
            [defer]="true" [options]="{ scrollbars: { autoHide: 'scroll' }}">
            <nav class="mt-2">
                <!--begin::Sidebar Menu-->
                <ul 
                    class="nav sidebar-menu flex-column" 
                    data-lte-toggle="treeview" 
                    role="menu"
                    data-accordion="false" 
                >
                    @for (item of menuItems(); track $index) {
                        @if (item?.isHeader) {
                            <li class="nav-header">{{item?.label}}</li>
                        }@else {
                            @let isActive = activeMenu() === item?.label;
                            <li class="nav-item" [ngClass]="{'menu-open': isActive}">
                                @if (!item?.submenu) {
                                    <a routerLinkActive="active" href="#" class="nav-link" [routerLink]="[item?.route]">
                                        <i class="nav-icon" [ngClass]="item?.icon"></i>
                                        <p>
                                            {{item?.label}}
                                        </p>
                                    </a>
                                }@else {
                                    <a class="nav-link" (click)="toggleMenu(item?.label)">
                                        <i class="nav-icon" [ngClass]="item?.icon"></i>
                                        <p>
                                            {{item?.label}}
                                            <i class="nav-arrow bi bi-chevron-right"></i>
                                        </p>
                                    </a>
                                    @if (isActive) {
                                        <ul class="nav nav-treeview">
                                            @for (subitem of item?.submenu; track $index) {
                                                <li class="nav-item">
                                                    <a routerLinkActive="active" class="nav-link" [routerLink]="[subitem?.route]">
                                                        <i class="nav-icon" [ngClass]="subitem?.icon"></i>
                                                        <p>
                                                            {{subitem?.label}}
                                                        </p>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                }
                            </li>
                        }
                    }
                </ul>

                <!--end::Sidebar Menu-->
            </nav>
        </div>

    </div>
    <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->