<div class="card shadow border-0">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <span class="h6 fw-semibold text-muted text-sm d-block mb-2">
                    {{title()}}
                </span>
                <span class="h3 fw-bold mb-0">
                    {{value()}}
                </span>
            </div>
             <div class="col-auto">
                <!-- <div class="icon icon-shape text-white text-lg rounded-circle d-flex
                align-items-center justify-content-center" [ngClass]="'bg-' + iconBgColor()"> -->
                <div class="scale-hover icon icon-shape text-white text-lg rounded-circle d-flex
                align-items-center justify-content-center bg-{{iconBgColor()}}">
                    <i class="bi bi-{{ icon() }} fs-5 {{ iconColor()}}"></i>
                </div>
             </div>
        </div>
        <div class="text-sm mt-2 mb-0">
            <span 
            class="badge rounded-pill me-2 px-2 bg-opacity-25"
            [ngClass]="['bg-' + badgeBgColor(), 'text-'+(badgeTextColor() || badgeBgColor())]"
            >
                {{todayValue()}}
            </span>
            <span class="text-nowrap text-xs text-muted">
                New {{ title() | lowercase }} today
            </span>
        </div>
    </div>

</div>